@media only screen and (max-width: 1024px)
    .container
        max-width: 760px
        overflow: hidden

    //promo
    .promo
        &__header
            font-size: 40px
        &__subheader
            font-size: 22px
            margin-top: 12px
    .button_main
        width: 285px

    //advantages
    .advantages__item
        max-width: 250px

    //consultation
    .title_form
        font-size: 34px
    .feed-form
        width: 285px
        &_modal
            width: 100%
    .button_submit
        height: 55px
        font-size: 15px

    //carousel
    .carousel
        &__inner
            width: 605px
            img
                width: 100%

    //catalog
    .catalog-item
        width: 250px
        &__back-link
            bottom: -4px
        &__wrapper
            height: 345px
        &__content
            transform: translateX(-110%)
            &_active
                transform: translateX(0)
        &__old-price
            font-size: 12px
        &__new-price
            font-size: 16px
        
    .button_buy
        width: 110px
        height: 40px

    //customers
    .customers-card
        img
            width: 150px
            height: 150px
            margin-right: 20px

@media only screen and (max-width: 768px)
    .container
        max-width: 760px
        padding: 0 10px

    .title
        font-size: 26px

    //header
    .header
        &__logo
            width: 180px
        &__official
            font-size: 10px
            span
                font-size: 15px
        &__call
            display: none
        &__burger
            display: block

    //promo
    .promo
        min-height: 550px
        padding-bottom: 65px
        &__wrapper
            margin-top: 35px
            align-items: center
        &__header
            font-size: 32px
            text-align: center
        &__subheader
            text-align: center
            font-size: 21px
            margin-top: 10px
        &__icons
            width: 390px
            margin-top: 45px
        &__link
            font-size: 14px

    .button_main
        width: 220px
        font-size: 13px
        margin-top: 55px

    //advantages
    .advantages
        min-height: 450px
        padding: 65px 0 40px 0
        &__wrapper
            margin-top: 50px
            flex-direction: column
        &__item
            max-width: 100%
            display: flex
        &__icon
            height: 65px
            margin-right: 10px
        &__text
            text-align: left
        &__subtitle
            margin-top: 15px
        &__descr
            margin-top: 0
        

    //consultation
    .consultation
        min-height: 550px
        padding: 65px 0 95px 0
        &__subtitle
            width: 100%
            font-size: 17px
            line-height: 28px
    
    .title_form
        width: 100%
        font-size: 24px
        line-height: 28px

    .feed-form
        width: 270px
        input
            height: 42px
            padding: 0 18px
        &_modal
            width: 100%

    .button_submit
        height: 42px
        font-size: 13px

    //carousel
    .carousel
        padding: 50px 0
        &__inner
            width: 300px

        .slick-prev
            left: -55px
        .slick-next
            right: -55px

    //catalog
    .catalog
        padding-top: 10px
        padding-bottom: 60px
        h2
            width: 300px
            margin: 0 auto
        &__tabs
            margin-top: 20px
        &__tab
            width: 120px
            height: 42px
            font-size: 12px
            line-height: 42px
        &__content
            margin-top: 25px
        &-item
            width: 32%
            min-height: 200px
            padding: 10px 5px 15px 5px
            margin-bottom: 10px
            &__wrapper
                height: 260px
            &__img
                height: 120px
            &__subtitle
                font-size: 14px
                margin: 6px 0
            &__descr
                font-size: 11px
                margin-bottom: 5px
            &__link
                font-size: 12px
            hr
                margin-top: 0
                margin-bottom: 10px
            &__old-price
                font-size: 10px
            &__new-price
                font-size: 13px
            &__list
                padding-right: 15px
                padding-left: 15px
                li
                    font-size: 12px
                    line-height: 12px
                    margin-bottom: 5px
            &__back-link
                font-size: 12px
                bottom: 10px
    
    .button_buy
        width: 90px
        height: 34px

    //customers
    .customers
        h2
            margin-bottom: 35px
        &-card
            min-height: 255px
            img
                width: 120px
                height: 120px
            &__name
                font-size: 16px
            &__stat
                font-size: 13px
                margin-bottom: 5px
            &__comment
                font-size: 14px
                line-height: 16px

    //footer
    .footer
        height: 450px
        &__info
            width: 315px
            height: 190px
            padding: 30px 23px 24px
        &__addr
            font-size: 16px
            line-height: 16px
            margin-bottom: 25px
        &__phone
            font-size: 18px
            line-height: 18px
            margin-bottom: 25px
        &__social-item
            width: 45px
            height: 45px
        iframe
            height: 450px

    //modal
    .modal
        width: 330px
        min-height: 345px
        &__subtitle
            font-size: 14px
            line-height: 14px
        &__descr
            font-size: 12px
            line-height: 12px
        &_mini
            min-height: 143px

@media only screen and ( max-width: 480px)
    //catalog
    .catalog
        &-item
            width: 49%
            &__back-link
                bottom: 50px
            &_empty
                display: none

@media only screen and ( max-width: 425px)
    .container
        max-width: 425px
        // padding: 0 10px

    .title
        font-size: 24px

    //header
    .header
        &__logo
            width: 130px
        &__official
            font-size: 8px
            span
                font-size: 11px
        &__burger
            &_active
                top: 30px
                right: 10px

    //promo
    .promo
        min-height: 445px
        padding-bottom: 25px
        &__wrapper
            margin-top: 25px
        &__header
            font-size: 24px
        &__subheader
            margin-top: 0
            font-size: 18px
        &__icons
            width: 300px
            margin-top: 35px
        &__icon
            font-size: 12px
            img
                width: 35%
                margin-bottom: 12px
        &__link
            font-size: 12px

    .button_main
        width: 200px
        font-size: 12px
        margin-top: 30px
    
    //advantages
    .advantages
        min-height: 500px
        padding: 40px 0 25px 0
        &__wrapper
            margin-top: 30px
        &__icon
            height: 50px
        &__subtitle
            margin-top: 5px
            font-size: 16px
        &__descr
            font-size: 12px

    //consultation
    .consultation
        min-height: 470px
        padding: 45px 0 55px 0
        &__subtitile
            font-size: 15px
            line-height: 24px
    
    .title_form
        font-size: 18px
        line-height: 24px

    .feed-form
        margin-top: 30px
        width: 230px
        input
            height: 36px
            padding: 0 16px
            font-size: 12px
            margin-bottom: 9px
            &:nth-child(3)
                margin-bottom: 14px
        &_modal
            width: 100%

    .button_submit
        height: 36px
        font-size: 12px

    //carousel
    .carousel
        padding: 40px 0
        &__inner
            width: 205px

        .slick-prev
            left: -45px
            img
                width: 25px
                height: 35px
        .slick-next
            right: -45px
            img
                width: 25px
                height: 35px
        
    //catalog
    .catalog
        padding-top: 5px
        padding-bottom: 35px
        h2
            font-size: 22px
        &__tabs
            margin-top: 15px
        &__tab
            width: 90px
            height: 36px
            font-size: 9px
            line-height: 36px
        &__content
            margin-top: 15px
        &-item
            &__wrapper
                height: 230px
            &__img
                height: 110px
            &__subtitle
                font-size: 12px
                margin: 4px 0
            &__descr
                font-size: 10px
                margin-bottom: 4px
            &__link
                font-size: 10px
            &__old-price
                font-size: 9px
            &__new-price
                font-size: 11px
            &__list
                li
                    font-size: 10px
                    line-height: 10px
            &__back-link
                font-size: 10px
                transform: translateX(calc(-50% - 10px))
            
    .button_buy
        width: 60px
        height: 25px
        font-size: 11px

    //customers
    .customers
        min-height: 880px
        padding-bottom: 20px
        h2
            margin-bottom: 25px
        &-card
            img
                width: 85px
                height: 85px
                margin-right: 15px
            &__stat
                font-size: 12px
            &__comment
                font-size: 12px
                line-height: 14px

    //footer
    .footer
        height: 415px
        &__info
            width: 100vw
            height: 160px
        &__addr 
            font-size: 14px
            line-height: 14px
            margin-bottom: 20px
        &__phone
            font-size: 16px
            line-height: 16px
            margin-bottom: 20px
        &__social-item
            width: 36px
            height: 36px
            img
                height: 20px
        iframe
            height: 415px

    //modal
    .modal
        width: 250px
        min-height: 275px
        padding: 20px 20px 15px
        &__close
            right: -25px
            font-size: 30px
            line-height: 17px
        &__subtitle
            font-size: 11px
            line-height: 11px
        &__descr
            font-size: 10px
            line-height: 10px
        &_mini
            min-height: 95px

@media only screen and ( max-width: 366px)
    .catalog-item__back-link
        bottom: 32px